front/node_modules
front/.DS_Store
front/dist

# local env files
front/.env.local
front/.env.*.local

# Log files
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*

# Editor directories and files
front/.idea
front/.vscode
front/*.suo
front/*.ntvs*
front/*.njsproj
front/*.sln
front/*.sw?

tmp/





back/node_modules
back/vendor
back/.phpunit.cache
back/node_modules
back/public/build
back/public/hot
back/public/storage
back/storage/*.key
back/vendor
back/.env
back/.env.backup
back/.env.production
back/.phpunit.result.cache
back/Homestead.json
back/Homestead.yaml
back/auth.json
back/npm-debug.log
back/yarn-error.log
back/.fleet
back/.idea
back/.vscode