<a class="blog-itm" href="/blog-detail.html">
	
	<span class="blog-itm__img">
		<img alt="" class="fill-img" loading="lazy" src="/img/tmp/blog.jpg">
	</span>
	
	<span class="blog-itm__info">
		
		<span class="blog-itm__info__left">
			
			<span class="blog-itm__info__itm">
				<img alt="" src="/img/ico/date-small.svg" class="svg">
				<span>15.01.2024</span>
			</span>
			
		</span>
		
		<span class="blog-itm__info__right">
		
			<span class="blog-itm__info__itm">
				<img alt="" src="/img/ico/eye-small.svg" class="svg">
				<span>150</span>
			</span>
			
		</span>
		
	</span>
	
	<span class="blog-itm__name">@@name</span>
	
	
</a>