<div class="fly-btn">
	
	<a href="/" class="fly-btn-itm">
		<img src="/img/ico/actions.svg" alt="" class="fly-btn-itm__ico">
		<span class="fly-btn-itm__text">Акция</span>
	</a>
	
	<a href="/" class="fly-btn-itm fly-btn-itm--sale">
		<img src="/img/ico/sale.svg" alt="" class="fly-btn-itm__ico">
		<span class="fly-btn-itm__text">Распродажа</span>
	</a>
	
	<a href="/" class="fly-btn-itm fly-btn-itm--discount">
		<img src="/img/ico/receipt-tax.svg" alt="" class="fly-btn-itm__ico">
		<span class="fly-btn-itm__text">Уцененные товары</span>
	</a>
	
</div>