<main class="main-content facet-block">
	<div class="facet-grid">
		
		<div class="facet-aside">
			<!--<section class="facet-catalog">
				<div class="facet-accordion-header">
					<svg class="facet-accordion-header__ico">
						<use xlink:href="/skins/img/sprite.svg#Tree-view&#45;&#45;alt"></use>
					</svg>
					<p class="facet-accordion-header__title">Каталог</p>
					
					<svg class="facet-accordion-header__arrow">
						<use xlink:href="/skins/img/sprite.svg#Arrow&#45;&#45;up"></use>
					</svg>
				</div>
				
				<div class="facet-body">
					<div data-widget="hierarchical-menu"></div>
				</div>
			</section>-->
			
			<section class="facet-filters">
				
				
				<div class="facet-accordion-header active">
					<img src="/img/ico/filter.svg" alt="" class="svg facet-accordion-header__ico">
					
					<p class="facet-accordion-header__title">Фильтры</p>
					
				</div>
				
				<div class="facet-body" style="display: block;">
					
					<div data-widget="hierarchical-menu"></div>
					
					<div data-widget="categories"></div>
					<div data-widget="brands"></div>
					<div data-widget="collection"></div>
					<div data-widget="colors"></div>
					<div data-widget="laying_method"></div>
					<div data-widget="wear_class"></div>
					
					<div data-widget="depth"></div>
					<div data-widget="length_tile"></div>
					<div data-widget="width"></div>
					<div data-widget="floor_heating_set"></div>
					<div data-widget="floor_heating"></div>
					<div data-widget="site_sliv_set"></div>
					<div data-widget="discount"></div>
					<div data-widget="room_type"></div>
					<div data-widget="fire_hazard_class"></div>
					<div data-widget="protective_layer"></div>
					
					<div class="ais-Panel ais-Panel--collapsible">
						<div class="ais-Panel-header"><span>Цена</span>
							<button aria-expanded="true" class="ais-Panel-collapseButton">
								<span>
								<svg height="13" width="13" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 6h13v1H0z" fill="#21243d" fill-rule="evenodd"></path>
								</svg>
 								 </span>
							</button>
						</div>
						<div class="ais-Panel-body" style="display: none;">
							<div data-widget="price-range"></div>
							<div data-widget="price-input"></div>
						</div>
					</div>
					
					<div data-widget="free-shipping"></div>
					<div data-widget="ratings"></div>
					
					<div class="facet-filters-btn-block">
<!--
						<button class="btn btn-line js-open-modal" href="#modal-facet-filter">Показать все фильтры</button>
-->
						
						<div data-widget="clear-filters"></div>
					</div>
				
				</div>
			</section>
		
		</div>
		
		<section class="facet-results">
			<div data-widget="current-refinements"></div>
			
			<header class="facet-header facet-options">
				
				<div data-widget="searchbox"></div>
				
				<div class="facet-option" data-widget="sort-by"></div>
				
				<div class="facet-view-type">
					
					<button class="facet-view-type__btn js-change-facet-view" data-view="grid">
						<img src="/img/ico/grid.svg" alt="" class="svg">
					</button>
					
					<button class="facet-view-type__btn js-change-facet-view" data-view="table">
						<img src="/img/ico/list.svg" alt="" class="svg">
					</button>
				
				</div>
				
				<button class="btn btn-main js-open-modal filter-btn-tablet" href="#modal-facet-filter">Показать все фильтры</button>
				
				<!--<div class="facet-option" data-widget="hits-per-page"></div>-->
			</header>
			
			
			<div data-widget="hits"></div>
			
			<div class="hits-empty-state">
				<div class="hits-empty-results" data-widget="clear-filters-empty-state"></div>
			</div>
			
			<footer class="facet-footer">
				<nav data-widget="pagination"></nav>
			</footer>
		</section>
	</div>
</main>